@import "tailwindcss";


@font-face {
  font-family: 'MultiroundPro';
  src: url('/public/MultiroundPro.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


* {
  font-family: 'MultiroundPro', sans-serif;
}

body {
  background: #191118;
  overflow-x: hidden;
  background: linear-gradient(90deg,rgb(25, 17, 24) 0%, rgba(34, 22, 33, 1) 100%);
}